.city-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.city-div-ligth,
.city-div {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  text-align: center;
}

.city-div {
  background-color: rgb(255, 72, 200);
}

.city-div-ligth {
  background-color: rgb(255, 113, 212);
}

.city-link {
  
}

.single-city-title-div {
  border: 1px solid;
  height: 7rem;
}