body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.arrowBtn {
  background-color: rgba(217, 68, 128, 255);
  border: none;
  padding-left: 1rem;
}

.navbar {
  background-color: rgba(217, 68, 128, 255);
}

.navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-p {
  color: white;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}
