body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.arrowBtn {
  background-color: white;
  border: none;
}

.arrow {
  padding-top: 0.2rem;
  width: 0.7rem;
}
